/* @media (max-width:1200px) {
  #pageTitle {
    font-size: 60px;
  }
} */


/* @media (max-width:1024px) {
  #pageTitle {
    font-size: 45px;
  }
} */


.elbow.default.horizontal {
	min-width:25px; 
	min-height:25px;	
}

.button {
  min-width: 30px;
}

.cap {
  text-align: left;
  min-width: 10px;
}

#pageTitle {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 5.5vw;
  text-align: right;
}

.row {
  min-height: 10px;
}

.bar {
  min-width: 10px;
}

#topFrame1, #topFrame2, #bottomFrame1, #bottomFrame2, #diagnosticButton,
  #timerAdjustButton, #timerOverrideButton {
  position: absolute;
  width: 10%;
  left: 5px;
  text-align: right;
  font-size: 1.6vw;
}

#topFrame3, #topFrame4, #topFrame5 {
  position: absolute;
  top: calc(25% - 20px);
}

#bottomFrame1, #bottomFrame2, #bottomFrame3, #bottomFrame4 {
  position: absolute;
  top: calc(25% + 15px);
}

#topFrame3, #bottomFrame2 {
  left: calc(10% + 55px);
  width: calc(30% - 55px - 5px);
  height: 30px;
}

#topFrame4, #bottomFrame3 {
  width: 30%;
  height: 30px;
  left: 40%;
  text-align: right;
  font-size: 1.6vw;
}

#topFrame5, #bottomFrame4 {
  width: calc(30% - 10px);
  height: 30px;
  left: calc(70% + 5px);
  text-align: left;
  font-size: 1.6vw; 
}

#turtlePicture {
  position: absolute;
  width: 40%;
  height: 40%;
  left: 17%;
  top: 50%;
}

#pictureBracket {
  position: absolute;
  width: 46%;
  height: 50%;
  left: 14%;
  top: 40%;
}

#topFrame1 {
  position: absolute;
  height: 10%;
  top: 5px
}

#topFrame2 {
  position: absolute;
  height: 15%;
  top: calc(10% + 10px);
}

#bottomFrame1 {
  position: absolute;
  height: 15%
}

#diagnosticButton {
  position: absolute;
  height: calc(20% - 5px);
  top: calc(40% + 20px);
}

#timerAdjustButton {
  position: absolute;
  height: calc(20% - 5px);
  top: calc(60% + 20px);
}

#timerOverrideButton {
  position: absolute;
  height: calc(20% - 25px);
  top: calc(80% + 20px);
}

#tempLightStatus, #rhLightStatus, #tempShadeStatus, #rhShadeStatus, #soilVWCStatus, #uvIndexStatus {
  position: absolute;
  width: 15%;
  height: 5%;
  text-align: right;
  font-size: 1.3vw;
}

#tempLightText, #rhLightText, #tempShadeText, #rhShadeText, #soilVWCText, #uvIndexText {
  font-size: 3.5vw;
  text-align: center;
  width: 35%;
}

#tempLightStatus, #rhLightStatus {
  left: 14%;
}

#tempShadeStatus, #rhShadeStatus {
  left: 30%;
}

#soilVWCStatus, #uvIndexStatus {
  left: 46%;
}

#tempLightStatus, #tempShadeStatus, #soilVWCStatus {
  top: 3%;
}

#rhLightStatus, #rhShadeStatus, #uvIndexStatus {
  top: 12%;
}

#tempLightCap, #rhLightCap, #tempShadeCap, #rhShadeCap, #soilVWCCap, #uvIndexCap {
  position: relative;
  width: 11%
}

#lightPowerToggle {
  position: absolute;
  width: 30%;
  height: 20%;
  left: 65%;
  top: 45%;
  text-align: center;
  font-size: 40px;

}

#lightOverrideText {
  position: absolute;
  left: 65%;
  top: 70%;
  width: 30%;
  font-size: 23px;
  text-align: justify;
  white-space: pre-line;
  
}

#timerSetGraph {
  position: absolute;
  left: 63%;
  top: 40%;
  width: 34%;
  height: 20%;
}

#timerFrameTopLeft, #timerFrameBottomLeft, #timerFrameBottomRight, #timerFrameTopRight {
  width: 6%;
  height: 10%;
}

#timerFrameBottomLeft {
  position: absolute;
  bottom: 0px;
}

#timerFrameBottomRight {
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#timerFrameTopRight {
  position: absolute;
  right: 0px;
  top: 0px;
}

#timerSetScaleTop, #timerSetScaleBottom {
  position: absolute;
  left: 8%;
  width: 84%;
  height: 25px;
  justify-content: space-evenly;
  padding: 0px;
}

#timerSetScaleTop div {
  min-width: 2px;
  width: 2px;
  min-height: 2px;
}

#timerSetScaleTop {
  top: 0px;
}

#timerSetScaleBottom {
  bottom: 0px;
}

#timerSetScaleBottom div {
  min-width: 2px;
  width: 2px;
  min-height: 2px;
  justify-content: flex-start;
}

#timerSetScaleMiddle {
  position: absolute;
  left: 8%;
  width: 84%;
  height: 75%;
  justify-content: space-evenly;
  margin-left: 0px;
}

#timerSetScaleMiddle div {
  min-width: 2px;
  width: 2px;
  text-align: 'left';
  padding: 0px;
  color: 'blue';
}

#timerSetScaleLabels {
  position: absolute;
  left: 10%;
  bottom: 25px;
  width: 80%;
  justify-content: space-evenly;
}

#timerSetScaleMiddle div {
  min-width: 2px;
  width: 2px;
}

#currentTimeBar {
  position: absolute;
  top: 0px;
  min-width: 2px;
  width: 4px;
  height: 100%;  
}

#timerBar {
  position: absolute;
  min-width: 2px;
  top: 35%;
  left: 30%;
  height: 45%;
  width: 45%;
}

#timerSet {
  position: absolute;
  top: 65%;
  left: 63%;
  width: 34%;
  height: 25%;
  justify-content: space-evenly;
}

#timerSet div {
  text-align: center;
  vertical-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

#infoText {
  position: absolute;
  left: 63%;
  top: 45%;
  width: 35%;
}

#infoText div {
  letter-spacing: -1px;
  margin-top: 10px;
  margin-left: 10px;
  font-size: 2vw;
}

#diagnosticFrame {
  position: absolute;
  left: 65%;
  top: 43%;
  width: 30%;
  height: 55%;
}

#tzAdjust {
  display: flex;
  justify-content: center;
  align-items: center
}

#tzIncButton, #tzDecButton {
  width: 20%;
  font-size: 300%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}



#tzAdjustText {
  width: 15%;
  font-size: 250%;
  text-align: center;
}

#tzSetButtonContainer {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10%;
}

#tzSetButton {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 125%;
  letter-spacing: -1px;
}

#diagTextRow {
  padding-top: 5px;
  align-items: stretch
}

#diagTextRow div {
  letter-spacing: -1px;
  width: 45%;
  padding-left: 5px
}

#diagResult1, #diagResult2, #diagResult3, #diagResult4, #diagResult5  {
  justify-content: flex-end;
  text-align: right;
  align-items: stretch;
  width: 45%;
}

#diagOval {
  max-width: 10%;
  min-width: 10%;
}

/* @media (max-width:1080px) {
  #pageTitle {
    font-size: 50px;
  }

  #infoText div {
    font-size: 20px;
  }
} */