
.elbow.default.horizontal {
	min-width:25px; 
	min-height:25px;	
}

.button {
  min-width: 30px;
}

.cap {
  text-align: left;
  min-width: 10px;
}

#pageTitle {
  position: absolute;
  right: 10px;
  top: 5px;
}

#topFrame1, #topFrame2, #bottomFrame1, #bottomFrame2, #homeButton,
  #timerAdjustButton, #timerOverrideButton {
  position: absolute;
  width: 10%;
  left: 5px;
  text-align: right;
}

#topFrame3, #topFrame4, #topFrame5 {
  position: absolute;
  top: calc(25% - 20px);
}

#bottomFrame1, #bottomFrame2, #bottomFrame3, #bottomFrame4 {
  position: absolute;
  top: calc(25% + 15px);
}

#topFrame3, #bottomFrame2 {
  left: calc(10% + 55px);
  width: calc(30% - 55px - 5px);
  height: 30px;
}

#topFrame4, #bottomFrame3 {
  width: 30%;
  height: 30px;
  left: 40%;
  text-align: right;
}

#topFrame5, #bottomFrame4 {
  width: calc(30% - 10px);
  height: 30px;
  left: calc(70% + 5px);
  text-align: left;
}

#turtlePicture {
  position: absolute;
  width: 40%;
  height: 40%;
  left: 17%;
  top: 50%;
}

#pictureBracket {
  position: absolute;
  width: 46%;
  height: 50%;
  left: 14%;
  top: 40%;
}

#topFrame1 {
  position: absolute;
  height: 10%;
  top: 5px
}

#topFrame2 {
  position: absolute;
  height: 15%;
  top: calc(10% + 10px);
}

#bottomFrame1 {
  position: absolute;
  height: 15%
}

#homeButton {
  position: absolute;
  height: calc(20% - 5px);
  top: calc(40% + 20px);
}

#timerAdjustButton {
  position: absolute;
  height: calc(20% - 5px);
  top: calc(60% + 20px);
}

#timerOverrideButton {
  position: absolute;
  height: calc(20% - 25px);
  top: calc(80% + 20px);
}

#tempLightStatus, #rhLightStatus, #tempShadeStatus, #rhShadeStatus, #rhSoilStatus, #uvLightStatus {
  position: absolute;
  width: 15%;
  height: 6%;
  text-align: right;
  font-size: 17px;
}

#tempLightText, #rhLightText, #tempShadeText, #rhShadeText, #rhSoilText, #uvLightText {
  font-size: 55px;
}

#tempLightStatus, #rhLightStatus {
  left: 14%;
}

#tempShadeStatus, #rhShadeStatus {
  left: 30%;
}

#rhSoilStatus, #uvLightStatus {
  left: 46%;
}

#tempLightStatus, #tempShadeStatus, #rhSoilStatus {
  top: 3%;
}

#rhLightStatus, #rhShadeStatus, #uvLightStatus {
  top: 12%;
}

#tempLightCap, #rhLightCap, #tempShadeCap, #rhShadeCap, #rhSoilCap, #uvLightCap {
  position: relative;
  width: 20%;
  font-size: 12px;
}

#lightPowerToggle {
  position: absolute;
  width: 30%;
  height: 20%;
  left: 65%;
  top: 45%;
  text-align: center;
  font-size: 40px;

}

#lightOverrideText {
  position: absolute;
  left: 65%;
  top: 70%;
  width: 30%;
  font-size: 23px;
  text-align: justify;
  white-space: pre-line;
  
}

